body {
  background: url("/images/headbg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
.site-description {
  white-space: pre-line;
}
